.Cart {
    border: 1px solid #F2F2F3;
    border-radius: 10px;
    width: 20%;
    padding: 15px;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    margin: 40px 15px 40px 40px;
}

.title {
    color: #5A6372;
    margin: 25px 0 25px 15px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #8C8E92;
}

.btn_refresh_cart {
    margin-top: 55px;
    margin-left: 18%;
    background-color: #8C8E92;
    color: white;
}

.btn_refresh_cart:hover {
    background: #61dafb;
    color: white;
}