.Product {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #e3e3e3;
}

.image {
    width: 25%;
    margin: auto;
}

.image >img {
    width: 100%;
    border-radius: 10px;
}

.content {
    width: 70%;
}

.description {
    color: #2F3540;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 11%;
}

.QuantitySelector {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 2px solid #e3e3e3;
    border-radius: 8px;
    padding: 5px;
    margin-top: 1rem;
}

.QuantitySelector button:first-child, .QuantitySelector button:last-child, .QuantitySelector div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
}

.QuantitySelector button:first-child {
    color: #545454;
    background-color: #e3e3e3;
}

.QuantitySelector button:last-child {
    color: #F9F9FA;
    background-color: rgba(0, 0, 255, 0.91);
}

.QuantitySelector .product-disabled {
    border: 2px solid darkred;
}

.QuantitySelector .alert-stock {
    display: none;
    color: darkred;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-left: 5px;
}